body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: rgb(94, 94, 237);
  height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90vw;
  max-width: 30rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title {
  text-align: center;
  margin: 2rem;
  font-weight: 700;
  color: rgb(155, 155, 155);
  font-size: large;
}

.joke {
  text-align: center;
  font-weight: 600;
  font-size: large;
  margin: 3rem;
}

.fetchJokeButton {
  display: block;
  margin: 2rem auto;
  padding: 10px 20px;
  background-color: rgb(149, 94, 237);
  color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.fetchJokeButton:active {
  background-color: rgb(119, 77, 187);
}
